       {
            font-family: Calibri, Arial, sans;
        }
        table {
            border: 1px solid navy;
            /*Retirar espaçamento entre as bordas das cellulas */
            border-collapse: collapse;

            margin: 0 auto;
        }
        td, th {
            /* regras para celulas de cabeçalho e de conteudo */
            border: 1px solid orange;
            /* espaçamento interno da celular*/

            padding: 6px;
          }
          th{

            background-color: lightblue;
          }

          .dir {
              text-align: right;
          }
          .jeej {
              text-align: center;
          }

          tfoot tr{
              font-weight: bold;
              font-style: italic;
              background-color: lightsalmon;
          }